.header{
    background-color: blue;
    color: white;
}

.navComponent{
    background-color: green;
    color: white;
}

.content{
    background-color: rgb(20, 66, 20);
    color: white;
}

.footer{
    background-color: rgb(23, 23, 94);
    color: white;
}

/* Demo style component */
/* CSS trong index.css se dung chung cho tat ca component */
p{
    color: hotpink;
    font-weight: 700;
}